.AddScreen-container {
    background: url("./picture/blue.jpg") no-repeat center center;
    color: white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    height: 50%;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.AddScreen-container {
    height: auto;
    max-width: 100%;
    width: 100%;
}

.AddScreen-PartyName {
    font-size: 2em;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.AddScreen-InnerContainer {
    height: 75vh;
    width: 100%;
}

.AddScreen-List {
    align-items: center;
    border-bottom: 1px solid rgba(44, 62, 80, 0.7);
    color: white;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
    text-align: match-parent;
    vertical-align: bottom !important;
}

.AddScreen-List .Delete-Btn {
    color: white;
    border: 1px solid rgba(44, 62, 80, 1);
    border-radius: 4px;
    background-color: rgba(44, 62, 80, 0.7);
    float: right;
    margin: 5px 0;
    padding: 3px 7px;
}

.AddScreen-List .Delete-Btn:hover {
    background-color: rgba(44, 62, 80, 0.7);
    cursor: pointer;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: auto;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 100px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    background-color: rgba(192, 108, 132, 0.6);
}

.react-datepicker {
    background-color: rgb(44, 76, 89);
}

.AddScreen-DatePicker, .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
    background-color: rgba(44, 62, 80, 0.4);
    border: 1px solid rgba(44, 62, 80, 1);
    color: #ffffff;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    min-width: 200px;
    margin: auto;
    padding: 0.9em;
    text-align: center;
    width: 350px;
}

.react-datepicker__day--selected {
    background-color: #D05253;
}

input.AddScreen-DatePicker.react-datepicker-ignore-onclickoutside {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-color: white !important;
    color: #D05253 !important;
}

.react-datepicker__day--selected:focus {
    background-color: #D05253;
}

.react-datepicker__month-container {
    background-color: rgb(44, 76, 89);
}

.react-datepicker__header, .react-datepicker__header--time {
    background-color: #1b222f;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    background-color: rgb(44, 76, 89);
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: white;
}

.react-datepicker__day-name {
    color: #D05253 !important;
}

.react-datepicker__day:hover {
    background-color: rgba(192, 108, 132, 0.6);
}

.react-datepicker__current-month, .react-datepicker-time__header {
    color: #D05253;
}

li.react-datepicker__time-list-item {
    color: white;
}

.AddScreen-container .ui.input input {
    background-color: rgba(44, 62, 80, 0.4);
    border: 1px solid rgba(44, 62, 80, 1);
    color: #ffffff;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0.9em;
    margin: auto;
    max-width: 100%;
    text-align: center;
}

.AddScreen-container .ui.input input:focus {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: white;
}

.AddScreen-container .ui.input input:active {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.AddScreen-container .ui.button {
    background-color: rgba(44, 62, 80, 1);
    border: 1px solid rgba(44, 62, 80, 1);
    color: rgba(255, 255, 255, 0.9);
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: auto;
    padding: 0.9em;
    width: 100%;
}

.AddScreen-container .ui.button:hover {
    background-color: rgba(44, 62, 80, 0.7);
    color: #fff;
}

.AddScreen-container .ui.text.container {
    margin-top: 20px;
    text-align: center;
}

.ui.modal > .icon:first-child + *, .ui.modal > :first-child:not(.icon) .ui.modal > :last-child {
    border-radius: 0;
}

.AddScreen-AddBtn {
    padding: 1em;
}

.AddScreen-container .ui.input input.AddScreen-AddBtn {
    padding: 5em !important;
}

button.ui.button:hover {
    background-color: rgba(76, 161, 175, 0.6);
    cursor: pointer;
}


