.AddScreen-container {
    background: #020d19;
    display: flex;
    justify-content: center;
    color: #D05253;
    text-align: center;
    height: 50%;
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: 'Montserrat', sans-serif;
}

.AddScreen-container {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.AddScreen-PartyName {
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.AddScreen-InnerContainer {
    width: 600px;
    height: 75vh;
}

.AddScreen-List {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: match-parent;
    vertical-align: bottom!important;
    padding: 10px 0;
    border-bottom: 1px dotted #D05253;
}

.AddScreen-List .Delete-Btn {
    float: right;
    margin: 5px 0;
    color: white;
    padding: 5px;
    border: 1px solid #D05253;
    background-color: rgba(208, 82, 83, 0.4);
}

.AddScreen-List .Delete-Btn:hover {
    cursor: pointer;
    background-color: rgba(208, 82, 83, 0.2);
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: auto;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 100px;
}


.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
    background-color: rgba(40, 214, 116, 0.4)
}

.react-datepicker {
    background-color: #4a6a82;
}

.AddScreen-DatePicker, .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
    width: 350px;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #D05253;
    padding: 0.9em;
    font-size: 1rem;
    max-width: 100%;
    text-align: center;
    margin: auto;
    color: #ffffff;
}

.ui.form input:not([type]):focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=email]:focus, .ui.form input[type=file]:focus, .ui.form input[type=number]:focus, .ui.form input[type=password]:focus, .ui.form input[type=search]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=text]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus {
    border: 1px solid rgba(40, 214, 116, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.react-datepicker__day--selected {
    background-color: #D05253;
}

input.AddScreen-DatePicker.react-datepicker-ignore-onclickoutside {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #D05253 !important;
    border-color: white !important;
}

.react-datepicker__day--selected:focus {
    background-color: #af6d7f;
}

.react-datepicker__month-container {
    background-color: #4a6a82;
}

.react-datepicker__header, .react-datepicker__header--time {
    background-color: #1b222f;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    background-color: #4a6a82;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: white;
}

.react-datepicker__day-name {
    color: #D05253;
}

.react-datepicker__day:hover {
    background-color: rgba(40, 214, 116, 0.4)
}

.react-datepicker__current-month, .react-datepicker-time__header {
    color: #D05253;
}

li.react-datepicker__time-list-item {
    color: white;
}

.AddScreen-container .ui.input input {
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #D05253;
    padding: 0.9em;
    font-size: 1rem;
    max-width: 100%;
    text-align: center;
    margin: auto;
    color: #ffffff;
    cursor: pointer;
}

.AddScreen-container .ui.input input:focus {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(40, 214, 116, 0.5);
    color: white;
}

.AddScreen-container .ui.input input:active {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.AddScreen-container .ui.button {
    background-color: rgba(40, 214, 116, 0.8);
    border: 2px solid rgba(40, 214, 116, 1);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 0.9em;
    width: 100%;
    display: inline-block;
    margin: auto;
}

.AddScreen-container .ui.button:hover {
    background-color: rgba(40, 214, 116, 0.6);
    color: #fff;
}

.AddScreen-container .ui.text.container {
    margin-top: 20px;
    text-align: center;
}

.ui.modal > .icon:first-child + *, .ui.modal > :first-child:not(.icon) .ui.modal > :last-child {
    border-radius: 0;
}

.AddScreen-AddBtn {
    padding: 1em;
}

 .AddScreen-container .ui.input input.AddScreen-AddBtn {
    padding: 5em!important;
}

 button.ui.button:hover {
     background-color: rgba(40, 214, 116, 0.6);
     cursor: pointer;
 }


