.AddScreen-container {
    background-color: #444;
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    height: 100vh;
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]
{
    width: 40vw;
}

.AddScreen-PartyName {
    font-size: 28px;
    letter-spacing: 2px;
}