body {
    background: url("./picture/blue.jpg") no-repeat center center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

/*body.light {*/
/*background: url("./picture/blue.jpg") no-repeat center center;*/
/*}*/

#root .ui.tab.active, .ui.tab.open {
    background-color: rgba(44, 62, 80, 0.4);
    border: 1px solid rgba(44, 62, 80, 0.8);
    display: block;
    text-align: left;
}

/*.light #root .ui.tab.active, .ui.tab.open {*/
/*background-color: antiquewhite;*/
/*}*/

div.App {
    height: auto;
    margin: 0 auto;
    max-width: 700px;
    position: relative;
    text-align: center;
    top: -40px;
}

.App-header {
    background-color: #222;
    color: white;
    height: 150px;
    padding: 20px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.rbc-event {
    border: 1px solid rgba(192, 108, 132, 1);
    background-color: rgba(192, 108, 132, 0.6);
    border-radius: 4px;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    padding: 5px 5px;
}

.rbc-show-more {
    background-color: rgba(76, 161, 175, 0.7);
    border-radius: 4px;
    color: white;
    font-size: 0.8em;
    text-align: center;
}

.rbc-off-range-bg {
    background-color: rgba(44, 62, 80, 0.7);
}

.rbc-day-slot .rbc-time-slot {
    background-color: rgba(76, 161, 175, 0.2);
    border-top: none;
}

.rbc-day-bg.rbc-today {
    background-color: transparent;
}

#root .Search-button {
    display: inline-block;
}

#root .ui.icon.input input {
    padding-right: 11em !important;
}

.ui.button.clear {
    border-radius: 0 .28571429rem .28571429rem 0;
}

.ui.input .search input {
    border-radius: .28571429rem 0 0 .28571429rem;
}

.ui.secondary.menu .item {
    color: #4ca1af;
}

.ui.secondary.menu .active.item {
    border: 1px solid #C06C84;
    color: #4ca1af;
}

.ui.secondary.menu .dropdown.item:hover, .ui.secondary.menu .link.item:hover, .ui.secondary.menu a.item:hover {
    background: transparent;
    color: #4ca1af;
}

.ui.secondary.menu .dropdown.item, .ui.secondary.menu .link.item, .ui.secondary.menu a.item {
    color: #C06C84;
}

.rbc-toolbar button:active:hover, .rbc-toolbar button.rbc-active:hover, .rbc-toolbar button:active:focus, .rbc-toolbar button.rbc-active:focus {
    background-color: transparent;
    border: 1px solid #C06C84;
    border-radius: 5px;
    color: #4ca1af;
    outline: 0;
}

.ui.secondary.menu .active.item:hover {
    color: #4ca1af;
}

.ui.input .search input {
    border: 1px solid rgba(44, 62, 80, 1);
    background-color: rgba(44, 62, 80, 0.4);
    color: white;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    background-color: transparent;
    border: 1px solid #C06C84;
    border-radius: 4px;
    outline: 0;
}

.rbc-btn-group > button:first-child:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.rbc-toolbar {
    margin-top: 10px;
}

.rbc-toolbar button {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: #C06C84;
    display: inline-block;
    margin: 0;
    padding: 0.8rem 1rem 0.8rem 1rem;
    text-align: center;
    vertical-align: middle;
}

.rbc-toolbar button:focus {
    background: transparent;
    color: #4ca1af;
    outline: 0;
}

.ui.button:focus {
    background-color: rgba(192, 108, 132, 0.6);
}

.ui.button:hover {
    background-color: rgba(76, 161, 175, 0.6);
}

.rbc-toolbar button:hover {
    background-color: transparent !important;
    color: #4ca1af;
}

.rbc-toolbar button:active {
    background-color: transparent;
    border-color: rgba(76, 161, 175, 0.6);
    color: #4ca1af;
    outline: 0;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    box-shadow: none;
    color: #4ca1af;
}

.rbc-date-cell > a, .rbc-date-cell > a:active, .rbc-date-cell > a:visited {
    position: relative;
    right: 5%;
    top: 50%;
}

.rbc-day-bg + .rbc-day-bg {
    border-color: rgba(93, 113, 140, 0.6);
}

.rbc-month-view .rbc-header + .rbc-header {
    border-left: 0;
}

.rbc-month-row + .rbc-month-row {
    border-color: rgba(93, 113, 140, 0.6);
}

.rbc-toolbar .rbc-toolbar-label {
    font-size: 1.3em;
    padding: 0 10px 0 0;
    position: relative;
    right: 20px;
}

.rbc-today {
    background-color: #203040;
}

.ui.segment {
    box-shadow: 2px 2px 6px 2px rgba(60, 72, 84, 0.15);
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

button.ui.button {
    background-color: rgba(208, 108, 132, 0.6);
    color: rgba(255, 255, 255, 0.9);
}

.ui.divided.list > .item {
    border-top: 1px solid rgba(93, 113, 140, 0.3);
    padding: 2.5%;
}

.ui.list .list > .item > img.image + .content, .ui.list > .item > img.image + .content {
    font-size: larger;
}

.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content {
    font-size: 0.85em;
}

.Add-Event-Btn.ui.button {
    position: absolute;
    right: 0;
    top: 20px;
}

div.ui.secondary.menu {
    padding-top: 20px;
}

