.main  {
    height: 50vh;
    background: #020d19;
}

.dateView {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px;
    border: 1px solid #D05253;
    text-align: center;
    background: rgba(255, 22, 16, 0.75);
    border-radius: 5px;
}

span.dateView {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

 div.header {
    text-align: center;
}

ol.guestList {
    padding-left: 30%;
}

li.guestList {
    color: white;
}

.ui.small.modal > .header:not(.ui) {
    font-size: 2em;
}
.ui.modal>:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.modals .header, .ui.modals .content, .ui.modals .actions {
    background: white;
    color: #D05253;
}

.ui.small.modal {
    width: 680px;
    background: white;
    padding-bottom: 3%;
}

div.ui.header {
    padding-top: 3%;
}