.dateView {
    border-bottom: 1px solid rgba(44, 62, 80, 0.7);
    border-top: 1px solid rgba(44, 62, 80, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
}

span.dateView {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ui.header {
    color: white;
}

ol.guestList {
    font-size: 1.2em;
    padding-left: 30%;
}

li.guestList {
    color: white;
}

.ui.small.modal > .header:not(.ui) {
    font-size: 2.5em;
}

.ui.modal > .header {
    padding-top: 4%;
    color: white;
    font-size: 2.2em;
}

.ui.modal > :last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.modals .header, .ui.modals .content, .ui.modals .actions {
    background-color: #396272;
    border-bottom: none;
    border-top: none;
}

.ui.small.modal {
    background-color: #1b222f;
    width: 680px;
}

div.header {
    text-align: center;
}