.dateView {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5px;
    border: 1px solid #C06C84;
    text-align: center;
}

span.dateView {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ui.header {
    color: #C06C84;
}

ol.guestList {
    padding-left: 30%;
    font-size: 1.2em;
}

li.guestList {
    color: white;
}

.ui.small.modal > .header:not(.ui) {
    font-size: 2.5em;
}

.ui.modal > .header {
    color: #C06C84;
    font-size: 2.2em;
}

.ui.modal > :last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ui.modals .header, .ui.modals .content, .ui.modals .actions {
    background-color: rgb(44, 76, 89);
    border-bottom: none;
    border-top: none;
}

.ui.small.modal {
    width: 680px;
    background: rgba(44, 62, 80, 1);
}

div.ui.header {
    padding-top: 3%;
}

div.header {
    text-align: center;
}