
.edit {
    position: relative;
    top: 600px;
    display: flex;
    justify-content: center;
}
.data {
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    position: absolute;
    background-color: black;
    opacity: .8;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    padding: 10px;
}

h2 {
    position: absolute;
    top: 150px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.modal {
    position: absolute;
    top: 300px;
}

#modal-header-span {
    display: flex;
    justify-content: center;
    /*background-color: black;*/
    color: black;
    border-radius: 10px;
}

ul li {
    list-style-type: none;
    color: white;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

.modal-body {
    display: flex;
    justify-content: center;
    background: url("./picture/beach.jpg") no-repeat left center;
}

ul {
    padding: 0;
}

.main {
    height: 100vh;
    background: url("./picture/beach.jpg") no-repeat left center;
}

.main :after :before {
    background-color: rgba(0, 0, 0, 0.7);
}

.dateView {
    color: white;
    background-color: black;
    opacity: .8;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
}

