/*.rbc-btn-group button:first-child {*/
    /*display: none;*/
/*}*/

.rbc-off-range-bg {
    background-color: rgba(255,255,255,.5);
}
.rbc-today {
    background-color:rgba(255,255,255,.5);
}

.rbc-event {
    background-color: #ad3f7d;
    cursor: default;
}
.rbc-event:checked {
    background-color: #ad1653;
    cursor: default;
}

