.WelcomeScreen-container {
    max-width: 800px;
    height: 100vh;
    margin: auto;
    padding: auto;
    background: url('party_night.jpg') no-repeat center center;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
}

.WelcomeScreen-gradient {
    background: linear-gradient(to bottom, rgba(10, 21, 63, 0.5), rgba(0,0,0,0.8));
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.WelcomeScreen-button {
    max-width: 400px;
    width: 100%;
    height: 75px;
    border-radius: 50px;
    border: 0 solid white;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 20px;
    font-size: 1.7rem;
    padding: 1.5rem 3rem 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.WelcomeScreen-button:focus {
outline: 0;
    text-decoration: none;
}

.WelcomeScreen-button::-webkit-input-placeholder {
    color: white;
    text-align: center;
}

.WelcomeScreen-GetStarted {
    max-width: 400px;
    width: 100%;
    height: 75px;
    border-radius: 50px;
    border: 0 solid white;
    background-color: rgb(255, 102, 0);
    color: white;
    margin: 20px;
    font-size: 20px;
}

.WelcomeScreen-CreateAccount {
    margin: 20px 0 20px 0;
    color: rgba(255, 255, 255, 0.6);
}

a:hover {
    color: #f60;
}

.img-responsive {
    width: 30%;
    position: relative;
    text-align: center;
    bottom: 0;
}