.WelcomeScreen-container {
    max-width: 100%;
    height: 100vh;
    margin: auto;
    padding: auto;
    background: #111111 url('beach.jpg') no-repeat center center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WelcomeScreen-gradient {
    background-color: rgba(0,0,0, 0.7);
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.WelcomeScreen-CreateAccount {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
}

a:hover {
    color: #a2636a;
}

.logo-responsive {
    width: 30%;
    position: relative;
    text-align: center;
    top: -5%;
}

.WelcomeScreen-container .ui.input input {
    background: rgba(0,0,0,0.8);
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    padding: 1.5em;
    font-size: 1.5rem;
    max-width: 70%!important;
    text-align: center;
    margin: auto;
    color: #ffffff;
}

.WelcomeScreen-container .ui.input input:focus {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid ;
    color: white;
}

.WelcomeScreen-container .ui.input input:active {
    background: rgba(0,0,0,0.5);
    color: white;
}

.WelcomeScreen-container .ui.button {
    background: url('button.jpg') no-repeat center center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 1.5em;
    width: 70%;
    display: inline-block;
    margin: auto;
}

.WelcomeScreen-container .ui.button:hover {
    background: url('button.jpg') no-repeat left center;
    color: #fff;
}

.WelcomeScreen-container .ui.text.container {
    margin-top: 20px;
    text-align: center;
}
