.WelcomeScreen-container {
    max-width: 100%;
    height: 100vh;
    margin: auto;
    padding: auto;
    background: #111111 url('beach.jpg') no-repeat center center;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WelcomeScreen-gradient {
    background: rgba(0,0,0, 0.7);
    max-width: 800px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.WelcomeScreen-button {
    max-width: 400px;
    width: 100%;
    height: 75px;
    border-radius: 50px;
    border: 0 solid white;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 20px;
    font-size: 1.5rem;
    padding: 1.5rem 3rem 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.WelcomeScreen-button:focus {
outline: 0;
    text-decoration: none;
}

.WelcomeScreen-button::-webkit-input-placeholder {
    color: white;
    text-align: center;
}

.WelcomeScreen-GetStarted {
    max-width: 400px;
    width: 100%;
    height: 75px;
    border-radius: 50px;
    border: 0 solid white;
    background-color: rgb(255, 102, 0);
    color: white;
    margin: 20px;
    font-size: 20px;
}

.WelcomeScreen-CreateAccount {
    margin: 20px 0 20px 0;
    color: rgba(255, 255, 255, 0.6);
}

a:hover {
    color: #f60;
}

.img-responsive {
    width: 30%;
    position: relative;
    text-align: center;
}
