.ui.animated.button.signOut-button {
    color: #D05253;
    background-color: transparent;
    border-style: none;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    padding: 1em 1em 0 1em;
    margin: 1em 1em 0 1em;
}
.ui.vertical.animated.button .visible.content {
    color: #D05253;
}